.img-container {
  max-width: 85%;
  display: flex;
  margin: 100px auto;
}

.img-info {
  margin-top: 30px;
  margin-left: 30px;
}

.img-info h4 {
  margin-bottom: 20px;
}

.home-btn {
  display: block;
  width: 80px;
  height: 40px;
  background: transparent;
  border: solid 2px #19232d;
  color: #8da1a1;
  border-radius: 10px;
  outline: none;
  text-align: center;
  padding-top: 5px;
}

.home-btn:hover {
  text-decoration: none;
  color: #fff;
  border-color: #fff;
}


.imageView__img {
  max-width: 500px;
}


@media(max-width: 1170px) {
  .img-container {
    flex-direction: column;
  }

  .img-info {
    margin: 0;
  }
}



@media(max-width: 500px)  {
  .imageView__img {
  max-width: 300px;
  }
}